<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover" />
    <title>demo</title>
    <link rel="icon" type="image/png" href="https://webstatic.rdpstudio.top/global/branding/static/fangtang/favicon.png">
    <link rel="apple-touch-icon" type="image/png" href="https://webstatic.rdpstudio.top/global/branding/static/fangtang/favicon.png">
    <script src="https://webstatic.rdpstudio.top/cn/open/foauth2sdk/index.umd.js"></script> <!-- 引入SDK -->
</head>
<style>
    body {
        background-color: #eaeaea;
    }
</style>
<body>
    {{ message | safe }}
</body>
</html>